{
  "presets": [
    "latest"
  ],
  "plugins": [
    "transform-flow-strip-types",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ]
}
