{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser",
    "node",
    "es6"
  },
  "rules": {
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"]
  }
}
